*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #21d4fd;
    background-image:  linear-gradient(19deg, #1445a8 0%, #b721ff 100%);
    height: 100vh;
    padding: 10px;
}

.bg-image{
    background-image: url(../../hc12-Transform-Transition-Animation/images/Img_1.png);
    width: 80%;
    margin: auto;
    height: 700px;
    background-size: cover;
    box-shadow: 5px 5px 10px black;
    position: relative;
    overflow: hidden;
}

.ground{
    background-image: url(../../hc12-Transform-Transition-Animation/images/Img_02.png);
    width: 10000000%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: sola 3s linear normal infinite ;
}

.car{
    position: absolute;
    bottom: 53px;
    left: 33%;
    z-index: 1;
    animation: araba 1s  linear alternate infinite;
}

@keyframes sola{
    100%{
        transform: translate(-2000px); 
    }
}

@keyframes araba{
    0%{
        transform: translateY(2px);
    }

    50%{
        transform: translateY(0);
    }

    110%{
        transform: translateY(2px);
    }

}

/* araba gidiyomuş gibi olması için zemini hareket ettrimeli.tek zaman yazsak da olur. grounda animationu tanımlayınca (animation: sola 0.5s linear alternate infinite) alt ekran gidip geldi.bitmemesi için genişliğini 1000000 aşırı yaptık.%100 olsa width sola doğru kayınca arabanın altı boşalyordu. taşan kısımları gizlemek için bck-image overfolw hidden verdik.    .car da z-index: 1 verdik araba ağacın önünde görünsün diye. sonra araba keyframe i ekledik. ilk zamanda y ekseninde 2px aşağı sonra hareket yok en sonda 2px yukarı hareket etsin.