
.yazi{
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
    width: 50vw;
}

.yazi1{
    background-color: rgb(130, 130, 213);
    transform: rotateX(150deg); /*x ekseninde şiş çevriyor gibi*/
}

.yazi2{
    background-color: rgb(130, 213, 160);
    transform: rotateY(160deg); /*y ekseninde döner çevriyor gibi*/
}

.yazi3{
    background-color: rgb(213, 213, 130);
   
}
.yazi3:active{
    transform: rotate(-60deg);
    background-color: blueviolet;
    transform-origin: left;
}

.yazi4{
    background-color: rgb(245, 42, 23);
    transform: scaleX(1.5);
}

.yazi5{
    background-color: rgb(218, 18, 215);
}

.yazi:active{
    transform: scaleY(2);
    background-color: orange;
}

.yazi6{
    background-color: rgba(235, 87, 12, 0.299);
    transform: scale(1.2) rotate(20deg);
}

img{
    width: 250px;
    transform: skewX(150deg);
    transform: skewY(20deg);
    transform: skew(50deg);
}

.box{
    background-color: chartreuse;
    width: 100px;
    height: 50px;
    margin: 2px;
}

.x{
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.91, -0.44, 0.91, 1.82)
}
.x:active{
    transform: translateX(400px);
    background-color: blue;
}

.y{
    transition: all ease-in-out 1s;
}
.y:active{
    transform: translateY(150px);
    background-color: darkgoldenrod;
}
.xy{
    transition: width 1s; /*sadece widthde geçerli olur*/
}

.xy:active{
    transform: translateX(100px,200px);
    background-color: crimson;
    width: 200px;
    height: 150px;
}

.btn-div{
    text-align: center;
}

.btn{
    background-color: cadetblue;
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    /* transition-property: background_color;
    transition-duration: 1s; */
    transition: all ease-in-out 1000ms;
}

.btn:active{
    background-color: red;
    color: white;
    transform: scale(75%);

}