
div{
    text-align: center;
}

div i{
    font-size: 10rem;
    color: brown;
}

.fa-bell{
    animation-name: salla;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.fa-dollar-sign{
animation: yılan 0.5s ease-in-out 1s infinite alternate ;}

@keyframes salla {
    0%{
        transform: rotate(15deg);
        transform-origin: top;
    }

    100%{
        transform: rotate(-15deg);
        transform-origin: top;
    }
}

@keyframes yılan {
    0%{
        transform: skew(15deg) scale(50%);
        transform-origin: top;
    }

    100%{
        transform: skew(-15deg) scale(200%);
        transform-origin: top;
    }
}