*{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 100px 300px 100px;
    grid-template-rows: 100px 400px 100px;
    grid-template-areas: 
    "header header header"
    "sidebar main aside"
    "footer footer footer";
    
}

.content{
    border: 2px solid red;
}

.content1{
    background-color: rgb(255, 98, 0);
    grid-area: header;
}
.content2{
    background-color: rgb(51, 152, 67);
    grid-area: footer;
}
.content3{
    background-color: rgb(255, 174, 0);
    grid-area: main;
}
.content4{
    background-color: rgb(51, 0, 255);
    grid-area: aside;
}
.content5{
    background-color: rgb(255, 0, 21);
    grid-area: sidebar;
}
